* {
  box-sizing: border-box;
}
.App{
    background-color: aquamarine;
    padding-bottom: 2%;
    text-align: center;  
}
.App .h4{
  position: relative;
  top: 20px;
}
.content{
  font-family: -webkit-body;
}

#title{
  margin-top: 5%;
  display: inline;
  height: 40px;
  width:80%;
}

#addbtn{
  height: 40px;
  line-height: 2px;  

}
.list-group-item{
  /* list-style-type: none; */
  background-color: beige;
  margin-top: 2%;
  text-align: left;
  width: 100%;
}