* {
  box-sizing: border-box;
}
.App{
    background-color: aquamarine;
    padding-bottom: 2%;
    text-align: center;  
}
.App .h4{
  position: relative;
  top: 20px;
}
.content{
  font-family: -webkit-body;
}

#title{
  margin-top: 5%;
  display: inline;
  height: 40px;
  width:80%;
}

#addbtn{
  height: 40px;
  line-height: 2px;  

}

/* #header{
  background-color: rgba(0, 0, 255, 0.541);
  
  width: 100%;
  padding: 3%;
  text-align: center;
} */