.content{
  font-family: -webkit-body;
}

#title{
  width:80%;
  height: 40px;
  /* text-align: center; */
  margin-top: 30%;
  display: inline;
}

#addbtn{
  height: 40px;
  line-height: 2px;  

}

#header{
  background-color: rgba(0, 0, 255, 0.541);
  width: 100%;
}