/* #navbar{
    background-color: aqua;
    padding: 1px;
    text-align: center;
    font-size: 20px;
    
}
 */
.text{
    text-align: center !important;
    margin: 0 auto;
    /* margin-left: 50%; */
}

h4{
    margin-top: 2%;
    font-weight: bold;
}