body{
    background-color:aquamarine;
}
.h3{
    text-align: center;
    color: red;
    background-color: yellow;
    padding: 1%;
    margin: 0;
}

.border{
    background-color: blue;
}

p{
    margin-top: 2% !important;
    text-align: center;
    color: rgb(2, 141, 255);
    font-size: 30px;
    background-color: rgba(238, 9, 9, 0.76);
    width: 17%;
    margin : 0px auto;
    height: 200px;
    line-height:200px;

}
